<div class="bg">

    <!-- Contact Section -->
<div class="w3-container w3-red" style="padding:128px 16px" id="contact">
    <h3 class="w3-center w3-text-white">CONTACT US</h3>
    <p class="w3-center w3-large w3-text-white">Lets get in touch. Send us a message:</p>
    <div style="margin-top:48px">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin"></i> Johannesburg, RSA</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin"></i> Phone: +27 12 345 6789</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin"> </i> Email: admin@mail.com</p>
      <br>
      <form action="" target="_blank">
        <p><input class="fx-text-box w3-border w3-white" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="fx-text-box w3-border w3-white" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="fx-text-box w3-border w3-white" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="fx-text-box w3-border w3-white contact-message" type="text" placeholder="Message" required name="Message"></p>
        <p class="w3-center">
          <button class="fx-button fx-scale fx-trans w3-white w3-hover-red" type="submit" style="width: 220px;">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
      <!-- Image of location/map -->
      <!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px"> -->
    </div>
  </div>

</div>