<!--MY-CUSTOM-SIGN-IN-COMPONENT-->



<!--SIGN-UP-VIEW-START-->
<div class="w3-container w3-padding-64 fx-blue-quartz" style="min-height: 100vh;">

    <!--SIGN-UP-CARD-START-->
    <div class="fx-card w3-display-middle w3-padding-large" style=" width: 400px;">

        <!--CARD-HEADER-START-->
        <div class="w3-center w3-margin">
            <h3 class="w3-center">Sign up for My App</h3>
        </div>
        <!--CARD-HEADER-END-->

        <!--CARD-CONTENT-START-->
        <form action="">
            <div>
                <label for="" class="">Email Address:</label>
                <br>
                <input type="email" class="fx-text-box w3-margin-top" placeholder="Your Email" required>
            </div>
            <br>
            <div>
                <label for="" class="">Password:</label>
                <br>
                <input type="password" class="fx-text-box w3-margin-top" placeholder="Your Password" required>
            </div>
            <br>
            <div>
                <label for="" class="">Confirm Password:</label>
                <br>
                <input type="password" class="fx-text-box w3-margin-top" placeholder="Confirm Your Password"
                    id="txtConfirmPwd" required>
            </div>

            <div class="w3-center">
                <button class="fx-button fx-scale fx-trans fx-sunset-fire w3-margin-top w3-hover-blue"
                    style="width: 100px;" id="" type="submit">Sign me up!</button>
            </div>
        </form>
        <!--CARD-CONTENT-END-->

        <!--CARD-FOOTER-START-->
        <div class="w3-center w3-round w3-margin">
            <p>Already have an account? <br>
                <a href="/sign-in" class="w3-hover-text-yellow">Sign in.</a>
            </p>
        </div>
        <!--CARD-FOOTER-END-->


    </div>
    <!--SIGN-UP-CARD-END-->

</div>
<!--SIGN-UP-VIEW-END-->
