<!--MY-CUSTOM-BANNER-COMPONENT-->



<!-- Header with full-height image -->
<div class="" id="home">

  <!-- <div class="w3-display-right" style="margin-top: -30px;">
    <img src="/assets/images/idea-img.png" alt="">
  </div>

  <div class="w3-display-left" style="padding: 48px;">
    <span class="w3-jumbo w3-hide-small">Build a new Home for a new Idea</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Build a new Home for a new Idea</span><br>

    <button class="w3-hide-small fx-scale fx-trans fx-button w3-margin fx-blue-quartz"
      onclick="function loadAbout(){window.location.assign('#about')};loadAbout()"
      style="width: 220px; padding: 10px;">Learn more and start today</button>
  </div>


  <div class="w3-display-bottomleft w3-xxlarge" style="padding:24px 48px;">
    <a href=""><i
        class="fab fa-facebook w3-hover-opacity w3-margin w3-text-blue w3-hover-opacity fx-scale fx-trans"></i></a>
    <a href=""><i
        class="fab fa-instagram w3-hover-opacity w3-margin w3-text-pink w3-hover-opacity fx-scale fx-trans"></i></a>
    <a href=""><i
        class="fab fa-snapchat w3-hover-opacity w3-margin w3-text-yellow w3-hover-opacity fx-scale fx-trans"></i></a>
    <a href=""><i
        class="fab fa-pinterest-p w3-hover-opacity w3-margin w3-text-red w3-hover-opacity fx-scale fx-trans"></i></a>
    <a href=""><i
        class="fab fa-twitter w3-hover-opacity w3-margin w3-text-cyan w3-hover-opacity fx-scale fx-trans"></i></a>
    <a href=""><i
        class="fab fa-linkedin w3-hover-opacity w3-margin w3-text-blue w3-hover-opacity fx-scale fx-trans"></i></a>
  </div> -->


  

        <!--INCLUDE-SLIDER-COMPONENT-->
        <%- include('component.bannerSlider-home.ejs') %>
        <!--/INCLUDE-SLIDER-COMPONENT-->

</div>