<!--MY-CUSTOM-TEAM-COMPONENT-->



<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">

    <h1 class="w3-center">OUR TEAM</h1>
    <p class="w3-center w3-large">Our Team Caption Here</p>

    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">

      <div class="w3-col w3-third w3-margin-bottom">
        <div class="w3-card" id="card1Front">
          <img src="" alt="Team Member Image" style="width:100%">
          <div class="w3-container">

            <h3>Ms Takudzwa Michelle Kuchena</h3>
            <p class="w3-opacity">Founder & Director</p>

            <p>Good day loves</p>

            <p>My name is Michelle and I am happy to meet you. A very warm welcome to our journey of impacting with love! It has always been a part of who I am to give back to the community since a very young age. I started off as the President of a society in high school where we would do gardening for those in need.</p>

            <p>My call to give back only grew from there when i became a committed volunteer and ambassador for a friend's NPC (Non-Profit Company) for almost a decade. I was busy with resource mobilisation, leadership training and basic wellness of the team at large.</p>

            <p>In 2022, I ventured out with our directors and we founded LOF which has been a big part of the fulfilment of my purpose and mandate in my space. I am passionate about youth development, youth empowerment, equitable distribution and access to opportunities for underrepresented populations. We hope you will be a part of our journey, imprinting footprints.</p>

          </div>
        </div>
      </div>

      <div class="w3-col w3-third w3-margin-bottom">
        <div class="w3-card">
          <img src="" alt="Team Member Image" style="width:100%">
          <div class="w3-container">

            <h3>Lenin Makono</h3>
            <p class="w3-opacity">Director and Head of Compliance and Governance.</p>

            <p>Hello!</p>

            <p>I am Lenin Makono and I have a deep passion for education and youth empowerment. I strongly believe that education has the power to transform lives and create a better world. I am dedicated to empowering young individuals and helping them unlock their full potential.</p>

            <p>By installing a love for learning, fostering critical thinking skills and providing opportunities for personal growth, I strive to make a positive impact on their lives. My ultimate goal is to ensure that every young person has access to quality education and the tools they need to succeed.</p>

            <p>Through my work in education and youth empowerment, I aim to create a brighter future for individuals, communities and society as a whole.</p>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>

      <div class="w3-col w3-third w3-margin-bottom">
        <div class="w3-card">
          <img src="" alt="Team Member Image" style="width:100%">
          <div class="w3-container">

            <h3>Gugulethu</h3>
            <p class="w3-opacity">Team Member Title</p>

            <p>Hi!</p>

            <p>I am Gugulethu. I believe in cultivating a culture of self sufficiency, determination and self belief from a tender age to assist in empowering our African child. "All battles are won in the mind before the actual battlefield." With the right support system and mentorship, I believe our youth have a fighting chance in being better leaders tomorrow.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>

    </div>



  </div>