<!--MY-CUSTOM-SLIDER-COMPONENT-->



<div class="">
  <img class="bannerSlider w3-animate-right w3-round" src="https://i.ibb.co/nzyzcgQ/SDG-4-grande-en.jpg" style="width:100%; height: 100vh;" alt="SDG-4-grande-en" border="0">
  <img class="bannerSlider w3-animate-left w3-round" src="https://i.ibb.co/gTZDw9p/image00013.jpg" style="width:100%; " alt="image00013" border="0">
  <img class="bannerSlider w3-animate-right w3-round" src="https://i.ibb.co/JqWZ5Cf/prado-nhlips1l9pi-unsplash-1-1920x760.jpg" style="width:100%;" alt="image00004" border="0">
</div>                                                                                                                 

