<!--MY-CUSTOM-SLIDER-COMPONENT-->



<div class="w3-content slider-content ">
  <img class="bannerSlider w3-animate-left" src="https://i.ibb.co/C7Knv8Z/image00013.jpg " style="width:100%; height: 100vh;" alt="image00013" border="0">
  <img class="bannerSlider w3-animate-left" src="https://i.ibb.co/kGHw4hz/image00002.jpg" style="width:100%; height: 100vh;" alt="image00008" border="0">
  <img class="bannerSlider w3-animate-right" src="https://i.ibb.co/1qCnMFf/image00004.jpg" style="width:100%; height: 100vh;" alt="image00004" border="0">
  <img class="bannerSlider w3-animate-right" src="https://i.ibb.co/1qCnMFf/image00004.jpg" style="width:100%; height: 100vh;" alt="image00004" border="0">
</div>

