<!--###DOCUMENTATION-VIEW###-->



<!--INCLUDE-NAVBAR-COMPONENT-->
<!--STATIC-NAV-BAR-->
<!--/INCLUDE-NAVBAR-COMPONENT-->


<!--FX-CONTAINER-BOX/BANNER-BOX-CLASSES-->
<!-- <div class="fx-container-box"> -->
<!--FX-BANNER-BOX-->
<!-- <div class="fx-banner-box"> -->

<!--INCLUDE-CUSTOM-BANNER-INTRO-COMPONENT-->
<%- include('../Components/Main/component.docs.ejs') %>
<!--/INCLUDE-CUSTOM-BANNER-INTRO-COMPONENT-->

<!-- </div>
</div> -->


<!--INCLUDE-FOOTERBAR-COMPONENT-->
<!--STATIC-FOOTER-BAR-->
<!--/INCLUDE-FOOTERBAR-COMPONENT-->