<!--###DONATE-VIEW###-->



<!--INCLUDE-NAVBAR-COMPONENT-->
<%- include('../Components/Custom/DONATE/component.nav-bar-donate.ejs') %>
<!--/INCLUDE-NAVBAR-COMPONENT-->


<div class="bg1 w3-animate-opacity">

        <!--INCLUDE-CONTACT-COMPONENT-->
        <%- include('../Components/Custom/DONATE/component.donations-donate.ejs') %>
        <!--/INCLUDE-CONTACT-COMPONENT-->
</div>



<!--INCLUDE-FOOTERBAR-COMPONENT-->
<%- include('../Components/Custom/HOME/component.footer-bar-home.ejs') %>
<!--/INCLUDE-FOOTERBAR-COMPONENT-->