<!--###PRIVACY-POLICY-VIEW###-->



<!--INCLUDE-NAVBAR-COMPONENT-->
<%- include('../Components/Custom/HOME/component.nav-bar-home.ejs') %>
<!--/INCLUDE-NAVBAR-COMPONENT-->



<!--FX-CONTAINER-BOX/BANNER-BOX-CLASSES-->
<!-- <div class="fx-container-box"  style="height: 100%;"> -->
<!--FX-BANNER-BOX-->
<!-- <div class="fx-banner-box"> -->

<div class="w3-black w3-text-green" style="padding-top: 20px; padding-bottom: 20px;">
    <!--INCLUDE-TERMS&CONDITIONS-COMPONENT-->
    <%- include('../Components/Main/component.terms-conditions.ejs') %>
    <!--/INCLUDE-TERMS&CONDITIONS-COMPONENT-->
</div>

<!-- </div> -->
<!-- </div> -->



<!--INCLUDE-FOOTERBAR-COMPONENT-->
<%- include('../Components/Custom/HOME/component.footer-bar-home.ejs') %>
<!--/INCLUDE-FOOTERBAR-COMPONENT-->